<%= render 'layouts/header' %>
<body>
  <%= form_with(model: @blog, local: true) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content,  size: "400x70"%>

  <%= f.submit "Update my blog", class: "btn btn-primary" %>
<% end %>
<%= link_to "詳細に戻る", @blog %>
</body>
