<%= render 'layouts/header' %>
<body>
  <%= form_with(model: @blog, local: true) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit "Update my blog", class: "btn btn-primary" %>
<% end %>
<%= html @blog.content%>
<%= link_to "詳細に戻る", @blog %>
</body>
