<%= render 'layouts/header' %>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr><th><%= link_to "最近の投稿", root_path %></th><th><%= link_to "いいね数ランキング", ranking_path %></th><th colspan="2"></th></tr>
    </thead>
  </table>
  <h2>#<%= @search %></h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr><th>投稿者</th><th>タイトル</th><th>タグ</th><th>いいね</th><th>投稿時間</th><th colspan="2"></th></tr>
    </thead>
    <tbody>
      <% @blogs_search.reverse_each do |blog| %>
        <tr>
          <th><%= link_to User.all.find_by(id: blog.user_id).name, "user/#{blog.user_id}" %></th>
          <th><%= link_to blog.title, blog %></th>
          <th>
            <% if blog.tag %>
              # <%= blog.tag %>
            <% end %>
          </th>
          <th><%= blog.favo %></th>
          <th><%= time_ago_in_words(blog.created_at) %>前</th>
          <th colspan="2"></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>